.wrapper {
  background-color: $white !important;
  color: $black !important;
  height: 80px;
  padding: 0 1rem;

  @media (min-width: 1280px) {
    padding: 0 5rem;
  }

  @media (min-width: 1920px) {
    height: 100px;
  }

  @media (min-width: 2560px) {
    height: 120px;
  }

  > div {
    padding: 0;
  }

  h6 {
    height: 100%;

    a {
      height: 100%;
      display: flex;
      align-items: center;
      img {
        height: 65%;
        width: initial;
      }
    }
  }

  .bars {
    color: white !important;
    background: $primary !important;
    border-radius: 4px;
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }
}
.link {
  a {
    font-weight: 700 !important;
    display: inline-block;
    margin: 0 auto;
  }
}

.wrapperDesktop {
  h6 {
    a {
      img {
        height: 60%;
      }
    }
  }
  > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .mainNav {
    width: 30%;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        font-weight: 700 !important;
        display: inline-block;
        margin: 0 auto;
      }
    }
  }
}
