.wrapper {
  position: relative;
  min-height: calc(75vh - 80px);
  background-size: cover;
  background-blend-mode: multiply;
  color: white !important;
  position: relative;
  overflow: hidden;
  background-position-y: bottom !important;
  background-position-x: 60% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;

  @media (min-width: 1920px) {
    min-height: calc(75vh - 100px);
  }

  @media (min-width: 2560px) {
    min-height: calc(75vh - 120px);
  }

  .container {
    padding: 1rem;
    @media (min-width: 1280px) {
      padding: 0 5rem;
    }

    .banner {
      height: 100%;
    }

    .left {
      .leftContent {
        @media (min-width: 1280px) {
          max-width: 70%;
          margin-left: auto;
        }
      }

      h1 {
        font-size: 2em;
        font-weight: 700;
        margin: 1rem 0;
        color: white;
      }
      p {
        margin: 1rem 0;
      }
    }
    .right {
      position: relative;
      width: 100%;
      min-height: calc(75vh - 80px);

      .img1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 75%;
      }
    }
  }
}

.svg {
  width: 100%;
  overflow: hidden;
  border: none;
  outline: none !important;
  margin-bottom: -15px;

  path {
    fill: white;
  }
}

.modalBody {
  padding: 0;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  video {
    width: 100%;
    aspect-ratio: 16/9;
  }
}

.img2 {
  cursor: pointer;
  border-radius: 50%;
}
.img2Wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  aspect-ratio: 1;
}

.playBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  /* border: 2px solid rgba(0, 108, 54, 0.6); */
  background: white;
  border-radius: 50%;
  position: relative;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.playBtn::before,
.playBtn::after {
  top: 0;
  left: 0;
  border-radius: 50%;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 108, 54, 0.8);
  }
  50% {
    box-shadow: 0 0 0 15px rgba(0, 108, 54, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 108, 54, 0);
  }
}
.playBtn::before,
.playBtn::after {
  animation: ripple 3s infinite;
}
.playBtn::before {
  animation-delay: 0.9s;
}
.playBtn::after {
  animation-delay: 0.5s;
}
.playBtn i {
  color: rgba(0, 108, 54, 0.8);
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.playBtn:hover {
  background-color: rgba(0, 108, 54, 1);
}
.playBtn:hover svg {
  fill: white;
}

.playBtn {
  border-radius: 100%;
  color: $primary;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  svg {
    font-size: 4rem;
    border-radius: 50%;
  }
}
