.wrapper {
  .container {
    padding: 2rem 1rem;
    padding-bottom: 5rem;

    @media (min-width: 1280px) {
      padding: 2rem 5rem;
      padding-bottom: 5rem;
    }

    @media (min-width: 1920px) {
      padding: 5rem 10rem;
      padding-bottom: 7rem;
    }

    @media (min-width: 2560px) {
      padding: 5rem 15rem;
      padding-bottom: 7rem;
    }
  }
  h1 {
    text-align: center;
  }
}

.left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  a {
    cursor: pointer !important;
  }
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    border-radius: 8px;

    @media only screen and (min-width: 769px) {
      width: 70%;
    }
  }
}
