html {
  scroll-behavior: smooth;
}
body {
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  line-height: 1.35;
  font-size: 16px;

  @media (min-width: 1440px) {
    font-size: 18px;
  }

  @media (min-width: 1920px) {
    font-size: 24px;
    line-height: 1.5;
  }

  @media (min-width: 2560px) {
    font-size: 28px;
    line-height: 1.75;
  }
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}

::-webkit-scrollbar-thumb {
  background-color: #363636;
  border-radius: 8px;
}

img {
  width: 100%;
}

@mixin base-button {
  background: none;
  border: 0;
  outline: none;
}

@import url("https://fonts.googleapis.com/css2?family=Licorice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #3f3a64;
}
ul {
  list-style: none;
}
h1 {
  font-size: 2em;
  font-weight: 700;
  margin: 1rem 0;
}
button,
a {
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -webkit-transition: all 0.3s ease !important;
}
p,
a,
span,
li,
b,
small {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
}
#hand-written {
  font-family: "Licorice", cursive;
}

a:hover,
a:active {
  color: rgb(5 104 59);
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.extend-header {
  width: 100%;
  max-width: 100% !important;
  left: 0 !important;
  right: 0;
  border-radius: 0 !important;
  box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.2) !important;
}

.primaryBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background: #17803d;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  padding-left: 1.5em;
  padding-right: 0.75em;
  font-weight: 600;
  color: white !important;
  font-size: 1em;
  width: fit-content;
  transition: all 0.3s ease;

  &:hover {
    background: #166434;
  }
}
